@import "tailwindcss";

.cell {
  height: 90px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.glass {
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(10px);
}

.loader {
  border-top-color: #4f46e5;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
